.galleryContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #333;
}
.image-gallery {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 30px;
  }
  
  .image-item {
    position: relative;
    overflow: hidden;
  }
  
  .image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-item:hover img {
    transform: scale(1.1);
  }
  
  
  @media (max-width: 768px) {
    .image-gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }