.galleryContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #333;
}
.image-gallery {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 30px;
  }
  
  .image-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-item:hover img {
    transform: scale(1.1);
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .image-item:hover .image-overlay {
    opacity: 1;
  }
  
  .image-overlay-content {
    text-align: center;
  }
  
  .image-overlay-content h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .image-overlay-content p {
    color: #ccc;
    font-size: 14px;
  }
  
  @media (max-width: 768px) {
    .image-gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }